 <form class="form-inline" role="form">
  <div class="form-group col-md-9">
    <div class="input-group">
      <input type="text" class="form-control add-todo-input" placeholder="Add new task">
    </div>
  </div>
  <button type="submit" class="btn btn-primary col-md-3">Add</button>
</form>