{{!-- This page is the highest-level layout for the dashboard page --}}
<div class="container">
  <div class="row">
    <div class="pet-display col-md-4"></div>
    <div class="todo-display col-md-8"></div>
  </div>
</div>