<!DOCTYPE html>
<html>
  <head>
    <title>HabitVPS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script data-main="/javascripts/main.js" src="/bower_components/requirejs/require.js"></script>
  </head>
  <body>
  </body>
</html>
