<h2 class="row title">{{{name}}}</h2>
<h3 class="row title">the Murdercrow</h3>
<span class="row stat">Hunger: {{{hunger}}}/10</span>
<span class="row stat">Energy: {{{energy}}}/10</span>
<span class="row stat">Points: 1</span>
<button type="button" class="row btn btn-block">Feed (-1 point)</button>
